{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>FLEX</title>
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>

<body>

    <div class="blur" style="display: none;">
        <form action="{% url 'create_project' %}" method="POST" id="project-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="form-content">
                <h2>Add a Project</h2>
                <hr>
                {{ project_form.as_p }} <!-- Render the project form fields -->
                <input type="submit" value="Create" class="btn btn-primary">
                <button type="button" class="btn btn-secondary" onclick="remove_form()"><i class="bi bi-x"></i></button>
            </div>
        </form>

        <form action="{% url 'add_certification' %}" method="POST" id="certification-form" enctype="multipart/form-data" style="display: none;">
            {% csrf_token %}
            <div id="form-content-certification">
                <h2>Add a Certification</h2>
                <hr>
                {{ certification_form.as_p }} <!-- Render the certification form fields -->
                <input type="submit" value="Add Certification" class="btn btn-primary">
                <button type="button" class="btn btn-secondary" onclick="remove_form()"><i class="bi bi-x"></i></button>
            </div>
        </form>
    </div>

    <header>
        <img src="https://scontent.fhyd11-2.fna.fbcdn.net/v/t39.30808-1/361317258_253495350768664_5192694073866053488_n.jpg?stp=c3.0.200.200a_dst-jpg_p200x200&_nc_cat=103&ccb=1-7&_nc_sid=f4b9fd&_nc_ohc=aXU8seHafWQQ7kNvgHIYt6H&_nc_ht=scontent.fhyd11-2.fna&oh=00_AYBaa8ace-Ku4fdDqQ_41DkiBnb7sb18L1jcJvS_H2SdOA&oe=66BA82BA"
            alt="Profile Image">
        <div class="title">
            <h1>MITS - FLEX</h1>
        </div>
    </header>

    <main>
        <div class="profile border-custom">
            <div class="detail">
                <p>{{ request.user.first_name }}</p>
                <p>{{ request.user.roll_no }}</p>
                <p>{{ request.user.dept }} - {{ request.user.section }}</p>
            </div>
            <div class="leetcode">
                <h5>Leetcode Profile</h5>
                <div class="leetcode-problems">
                    <div>Easy:{{easy_count}}</div>
                    <div>Medium:{{medium_count}}</div>
                    <div>Hard:{{hard_count}}</div>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="section border-custom">
                <h2 id="projects">Projects</h2>
                <hr>
                <ul class="multiple">
                    <!-- Example project list items -->
                    {% for certi in projects %}
                    <li>
                        <h5><a href="#">{{ certi.title }}</a></h5>
                        <p>Desripton: {{ certi.description }}</p>
                        <p><a href="{{ certi.github_link }}">GitHub Link </a></p>
                    </li>
                    <hr>
                    {% endfor %}
                    <!-- More list items -->
                </ul>
                <button class="btn btn-primary" data-category="projects" onclick="new_item(this);">
                    <i class="bi bi-plus"></i>
                    Project
                </button>
            </div>
            <div class="section border-custom">
                <h2 id="languages">Foreign Languages</h2>
                <hr>
                <ul class="multiple">
                    <!-- Example language list items -->
                    {% for certi in Foreign_languages %}
                    <li>
                        <h5><a href="#">{{ certi.title }}</a></h5>
                        <p>Provider : {{ certi.source }}</p>
                        <p>Uploded On: {{ certi.uploaded_at }}</p>
                    </li>
                    <hr>
                    {% endfor %}
                    <!-- More list items -->
                </ul>
                <button class="btn btn-primary" data-category="ForignLanguages" onclick="new_item(this);">
                    <i class="bi bi-plus"></i>
                    Language
                </button>
            </div>
            <div class="section border-custom">
                <h2 id="technical">Technical Certifications</h2>
                <hr>
                <ul class="multiple">
                    {% for certi in Technical %}
                    <li>
                        <h5><a href="#">{{ certi.title }}</a></h5>
                        <p>Provider : {{ certi.source }}</p>
                        <p>Uploded On: {{ certi.uploaded_at }}</p>
                    </li>
                    <hr>
                    {% endfor %}
                    <!-- More list items -->
                </ul>
                <button class="btn btn-primary" data-category="Technical" onclick="new_item(this);">
                    <i class="bi bi-plus"></i>
                    Certification
                </button>
            </div>
        </div>
    </main>
    <div class="form-check-label">
        <button id="themeToggle"><i class="bi bi-moon-fill"></i></button>
    </div>

    <script>
        const toggleSwitch = document.getElementById('themeToggle');
        const icon = document.querySelector('#themeToggle i');
        const body = document.body;
        const allElements = document.querySelectorAll('*');
        const blur = document.querySelector('.blur');
        const formContent = document.getElementById('form-content');
        const formContentCertification = document.getElementById('form-content-certification');

        toggleSwitch.addEventListener('click', () => {
            body.classList.toggle('light-theme');
            allElements.forEach(element => {
                element.classList.toggle('light-theme', body.classList.contains('light-theme'));
            });
            icon.classList.toggle('bi-moon-fill');
            icon.classList.toggle('bi-brightness-high-fill');
        });

        function remove_form() {
            blur.style.animationDirection = "reverse";
            blur.classList.add('blur-animation');
            formContent.classList.add('scale-animation');
            formContentCertification.classList.add('scale-animation');
            setTimeout(() => {
                blur.classList.remove('blur-animation');
                formContent.classList.remove('scale-animation');
                formContentCertification.classList.remove('scale-animation');
                blur.style.display = 'none';
            }, 500);
        }

        function new_item(element) {
            const category = element.dataset.category;
            console.log(category);
            blur.style.animationDirection = "normal";
            blur.style.display = 'flex';
            blur.classList.add('blur-animation');
            if (category === 'projects') {
                formContent.style.display = 'block';
                formContentCertification.style.display = 'none';
                formContent.innerHTML = `<h2>Add a Project</h2>
                <hr>
                {{ project_form.as_p }}
                <input type="submit" value="Create" class="btn btn-primary">
                <button type="button" class="btn btn-secondary" onclick="remove_form()"><i class="bi bi-x"></i></button>`;
            } else if (category === 'ForignLanguages') {
                formContent.style.display = 'block';
                formContentCertification.style.display = 'none';
                formContentCertification.innerHTML = `<h2>Add a Certification</h2>
                <hr>
                {{ certification_form.as_p }}
                <input type="submit" value="Add Certification" class="btn btn-primary">
                <button type="button" class="btn btn-secondary" onclick="remove_form()"><i class="bi bi-x"></i></button>`;
            }else if (category === 'Technical') {
                formContent.style.display = 'block';
                formContentCertification.style.display = 'none';
                formContentCertification.innerHTML = `<h2>Add a Certification</h2>
                <hr>
                {{ certification_form.as_p }}
                <input type="submit" value="Add Certification" class="btn btn-primary">
                <button type="button" class="btn btn-secondary" onclick="remove_form()"><i class="bi bi-x"></i></button>`;
            }
            formContent.classList.add('scale-animation');
            formContentCertification.classList.add('scale-animation');
            setTimeout(() => {
                blur.classList.remove('blur-animation');
                formContent.classList.remove('scale-animation');
                formContentCertification.classList.remove('scale-animation');
            }, 500);
        }
    </script>
</body>

</html>
