{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
		/>
		<link rel="stylesheet" href="{% static 'css/faculty.min.css' %}" />
		<title>Dashboard</title>
	</head>

	<body>
		<header>
			<img src="{% static 'img/logo.png' %}" alt="Profile Image" />
			<div class="title">
				<h1>MITS - FLEX</h1>
			</div>
		</header>

		<main>
			<div class="left-bar">
				<aside class="filters">
					<h2>Search and Filter</h2>
					<hr />
					<input
						type="search"
						name="student-search"
						id="student-search"
						placeholder="Search here"
					/>
					<label for="student-year">Year:</label>
					<div class="radio-group">
						<div class="radio">
							<input type="radio" name="year" id="year-1" />
							<label for="year-1">1</label>
						</div>
						<div class="radio">
							<input type="radio" name="year" id="year-2" />
							<label for="year-2">2</label>
						</div>
						<div class="radio">
							<input type="radio" name="year" id="year-3" />
							<label for="year-3">3</label>
						</div>
						<div class="radio">
							<input type="radio" name="year" id="year-4" />
							<label for="year-4">4</label>
						</div>
					</div>
					<label for="student-section">Section:</label>
					<div class="radio-group">
						<div class="radio">
							<input type="radio" name="section" id="section-a" />
							<label for="section-a">A</label>
						</div>
						<div class="radio">
							<input type="radio" name="section" id="section-b" />
							<label for="section-b">B</label>
						</div>
						<div class="radio">
							<input type="radio" name="section" id="section-c" />
							<label for="section-c">C</label>
						</div>
						<div class="radio">
							<input type="radio" name="section" id="section-d" />
							<label for="section-d">D</label>
						</div>
					</div>
					<div class="button-group">
						<button><i class="bi bi-search"></i> Search</button>
						<button class="reset">
							<i class="bi bi-arrow-clockwise"></i> Reset
						</button>
					</div>
					<button id="advancedToggle">
						<i class="bi bi-sliders"></i> Advanced
					</button>
					<div id="advanced-filters" style="display: none">
						<label for="leetcode-problems"
							>LeetCode Problems:</label
						>
						<input
							type="number"
							id="leetcode-problems"
							name="leetcode-problems"
							placeholder="Enter minimum problems solved"
						/>
						<label for="projects">Projects:</label>
						<input
							type="number"
							id="projects"
							name="projects"
							placeholder="Enter minimum projects done"
						/>
						<label for="certifications">Certifications:</label>
						<input
							type="number"
							id="certifications"
							name="certifications"
							placeholder="Enter minimum certifications"
						/>
					</div>
				</aside>
				<br />
				<button onclick="return downloadData()">Download</button>
			</div>
			<div class="table">
				<table>
					<thead>
						<tr>
							<th>
								<input
									type="checkbox"
									name="select-all"
									id="select-all"
								/>
							</th>
							<th>#</th>
							<th>Roll Number</th>
							<th>Name</th>
							<th style="text-align: center">Year</th>
							<th style="text-align: center">Section</th>
							<th style="text-align: center">Leetcode Count</th>
							<th style="text-align: center">Projects</th>
							<th style="text-align: center">Certifications</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
		</main>
		<div class="form-check-label">
			<button id="themeToggle"><i class="bi bi-moon-fill"></i></button>
			<button id="logout"><i class="bi bi-box-arrow-right"></i></button>
		</div>
		<script>
			var None = 0;
			var studentData = {{ studentData | safe }}
			document.getElementById('advancedToggle').addEventListener('click', () => {
				const advancedFilters = document.getElementById('advanced-filters');
				if (advancedFilters.style.display === 'none') {
					advancedFilters.style.display = 'flex';
				} else {
					advancedFilters.style.display = 'none';
				}
			});

			document.addEventListener('DOMContentLoaded', function () {
				document.querySelector("input[name='select-all']").addEventListener('change', (event) => {
					const checkboxes = document.querySelectorAll("input[name='select-student']");
					checkboxes.forEach((checkbox) => (checkbox.checked = event.target.checked));
				});
				function filterAndDisplayData() {
					const rollno = document.getElementById('student-search').value.trim().toLowerCase();
					const year = document.querySelector('input[name="year"]:checked')?.nextElementSibling.textContent.trim().toLowerCase() || "";
					const section = document.querySelector('input[name="section"]:checked')?.nextElementSibling.textContent.trim().toLowerCase() || "";
					const leetCodeProblems = parseInt(document.getElementById('leetcode-problems').value) || 0;
					const projects = parseInt(document.getElementById('projects').value) || 0;
					const certifications = parseInt(document.getElementById('certifications').value) || 0;

					let filteredData = studentData;
					console.log(filteredData)

					if (rollno !== "") {
						filteredData = filteredData.filter(student => student.fields.rollNo.toLowerCase().includes(rollno) || student.fields.first_name.toLowerCase().includes(rollno));
					}

					if (year != "") {
						filteredData = filteredData.filter(student => student.fields.year == year);
					}

					if (section !== "") {
						filteredData = filteredData.filter(student => student.fields.section.toLowerCase() === section);
					}

					if (leetCodeProblems > 0) {
						filteredData = filteredData.filter(student => student.studentrollno__TotalProblems >= leetCodeProblems);
					}

					if (projects > 0) {
						filteredData = filteredData.filter(student => student.Projects >= projects);
					}

					if (certifications > 0) {
						filteredData = filteredData.filter(student => student.ForeignLanguages >= certifications);
					}

					displayData(filteredData);
				}

				function displayData(data) {
					const tableBody = document.querySelector('tbody');
					tableBody.innerHTML = "";

					if (data.length === 0) {
						tableBody.innerHTML = `<tr><td colspan="5">No data available</td></tr>`;
						return;
					}

					data.forEach((student, index) => {
						const row = document.createElement('tr');
						row.innerHTML = `
						<td><input type="checkbox" name="select-student" value="${student.roll_no}"></td>
							<td>${index + 1}</td>
							<td>${student.roll_no}</td>
							<td>${student.first_name}</td>
							<td style='text-align: center;'>${student.year}</td>
							<td style='text-align: center;'>${student.section}</td>
							<td style='text-align: center;'>${student.studentrollno__TotalProblems}</td>
							<td style='text-align: center;'>${student.Projects}</td>
							<td style='text-align: center;'>${student.ForeignLanguages}</td>
						`;
						tableBody.appendChild(row);
					});
					document.querySelectorAll('td:not(:has(input))').forEach(data => {
						data.addEventListener('click', () => {
							window.location.href = '/student/' + data.parentElement.children[2].innerText;
						});
					});
				}

				function reset() {
					document.getElementById('student-search').value = "";
					document.querySelectorAll('input[name="year"]').forEach((radio) => (radio.checked = false));
					document.querySelectorAll('input[name="section"]').forEach((radio) => (radio.checked = false));
					document.getElementById('leetcode-problems').value = "";
					document.getElementById('projects').value = "";
					document.getElementById('certifications').value = "";
					displayData(studentData);
				}

				document.getElementById('student-search').addEventListener('input', filterAndDisplayData);
				document.querySelectorAll('input[name="year"], input[name="section"]').forEach((radio) => {
					radio.addEventListener('change', filterAndDisplayData);
				});
				document.getElementById('leetcode-problems').addEventListener('input', filterAndDisplayData);
				document.getElementById('projects').addEventListener('input', filterAndDisplayData);
				document.getElementById('certifications').addEventListener('input', filterAndDisplayData);

				const resetButton = document.querySelector('.reset');
				resetButton.addEventListener('click', reset);

				displayData(studentData);
			});

			function downloadData() {
				const data = Array.from(document.querySelectorAll('input[name="select-student"]:checked')).map((checkbox) => checkbox.value);
				console.log(data);
				fetch("{% url 'download' %}", {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
						'X-CSRFToken': '{{ csrf_token }}',
					},
					body: JSON.stringify(data),
				})
					.then((response) => response.blob())
					.then((blob) => {
						const url = window.URL.createObjectURL(blob);
						const a = document.createElement('a');
						a.href = url;
						a.download = 'data.xlsx';
						document.body.appendChild(a);
						a.click();
						a.remove();
					});
			}

			document.querySelector('#logout').addEventListener('click', () => {
				fetch("{% url 'logout' %}", {
					method: 'GET',
					headers: {
						'Content-Type': 'application/json',
					},
				})
					.then((response) => {
						if (response.ok) {
							window.location.href = "{% url 'login' %}";
						} else {
							throw new Error('Network response was not ok');
						}
					})
					.catch((error) => {
						console.error('Error:', error);
					});
					});
		</script>
	</body>
</html>
