<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="faculty.min.css">
    <title>Dashboard</title>
</head>

<body>
    <header>
        <img src="{% static 'img/logo.png' %}"
            alt="Profile Image" />
        <div class="title">
            <h1>MITS - FLEX</h1>
        </div>
    </header>

    <main>
        <div class="left-bar">
            <aside class="filters">
                <h2>Search and Filter</h2>
                <hr>
                <input type="search" name="student-search" id="student-search" placeholder="Search here">
                <label for="student-year">Year:</label>
                <div class="radio-group">
                    <div class="radio">
                        <input type="radio" name="year" id="year-1">
                        <label for="year-1">I</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="year" id="year-2">
                        <label for="year-2">II</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="year" id="year-3">
                        <label for="year-3">III</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="year" id="year-4">
                        <label for="year-4">VI</label>
                    </div>
                </div>
                <label for="student-section">Section:</label>
                <div class="radio-group">
                    <div class="radio">
                        <input type="radio" name="section" id="section-a">
                        <label for="section-a">A</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="section" id="section-b">
                        <label for="section-b">B</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="section" id="section-c">
                        <label for="section-c">C</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="section" id="section-d">
                        <label for="section-d">D</label>
                    </div>
                </div>
                <div class="button-group">
                    <button><i class="bi bi-search"></i> Search</button>
                    <button class="reset"><i class="bi bi-arrow-clockwise"></i> Reset</button>
                </div>
            </aside>
            <br>
            <button>Download</button>
        </div>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Roll Number</th>
                        <th>Name</th>
                        <th>Year</th>
                        <th>Section</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>22691A05B5</td>
                        <td>V Mahesh Kumar</td>
                        <td>2</td>
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>22691A0571</td>
                        <td>Vijapuram Harsha Vardhan</td>
                        <td>2</td>
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>22691A0575</td>
                        <td>K Hemanth Babu</td>
                        <td>2</td>
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>22691A05B5</td>
                        <td>V Mahesh Kumar</td>
                        <td>2</td>
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>22691A0571</td>
                        <td>Vijapuram Harsha Vardhan</td>
                        <td>2</td>
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>22691A0575</td>
                        <td>K Hemanth Babu</td>
                        <td>2</td>
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>22691A05B5</td>
                        <td>V Mahesh Kumar</td>
                        <td>2</td>
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>22691A0571</td>
                        <td>Vijapuram Harsha Vardhan</td>
                        <td>2</td>
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>22691A0575</td>
                        <td>K Hemanth Babu</td>
                        <td>2</td>
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>22691A05B5</td>
                        <td>V Mahesh Kumar</td>
                        <td>2</td>
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>22691A0571</td>
                        <td>Vijapuram Harsha Vardhan</td>
                        <td>2</td>
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>22691A0575</td>
                        <td>K Hemanth Babu</td>
                        <td>2</td>
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>22691A05B5</td>
                        <td>V Mahesh Kumar</td>
                        <td>2</td>
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>22691A0571</td>
                        <td>Vijapuram Harsha Vardhan</td>
                        <td>2</td>
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>22691A0575</td>
                        <td>K Hemanth Babu</td>
                        <td>2</td>
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>22691A05B5</td>
                        <td>V Mahesh Kumar</td>
                        <td>2</td>
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>22691A0571</td>
                        <td>Vijapuram Harsha Vardhan</td>
                        <td>2</td>
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>22691A0575</td>
                        <td>K Hemanth Babu</td>
                        <td>2</td>
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>22691A05B5</td>
                        <td>V Mahesh Kumar</td>
                        <td>2</td>
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>22691A0571</td>
                        <td>Vijapuram Harsha Vardhan</td>
                        <td>2</td>
                        <td>B</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>22691A0575</td>
                        <td>K Hemanth Babu</td>
                        <td>2</td>
                        <td>B</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <div class="form-check-label">
        <button id="themeToggle"><i class="bi bi-moon-fill"></i></button>
    </div>
    <script>
        const toggleSwitch = document.getElementById("themeToggle");
        const icon = document.querySelector("#themeToggle i");
        const body = document.body;
        const allElements = document.querySelectorAll("*"); // Select all elements
        console.log(allElements);
        toggleSwitch.addEventListener("click", () => {
            body.classList.toggle("light-theme");

            // Add or remove the light theme class from all elements
            allElements.forEach((element) => {
                element.classList.toggle(
                    "light-theme",
                    body.classList.contains("light-theme")
                );
            });
            icon.classList.toggle("bi-moon-fill");
            icon.classList.toggle("bi-brightness-high-fill");
        });
    </script>
</body>

</html>